* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #00FA9A;
}

#main {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

#title {
    font-size: 7vh;
    text-shadow: 5px 5px 10px #fff;
}
img{
    width: 100%;
    display: inline-block;
}
#caption{
    font-size: 17px;
    font-family: 'Gill Sans';
}
#tribute-data{
    background-color: rgba(46, 139, 87, 0.25);
    box-shadow: 20px 20px 20px #98FB98;
    font-family: Georgia;
    padding: 25px;
    margin:50px 0px;
}
.subtitle{
    font-size: 35px;
    color: #fff;
    text-align: center;
    text-shadow: 5px 5px 10px #000;
}
footer>a{
    text-decoration: none;
    cursor: pointer;
}