* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background:
        #471f1fa9;
}

p {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.318);
}

.but {
    width: 100%;
    display: flex;
    justify-content: center;
}

.geeks {
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: blanchedalmond;
    cursor: pointer;
}

.geeks:hover {
    transform: scale(1.5, 1.5);
}