*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
.card{
    background-color: #fff;
    width: 198px;
    height: 344px;
    border-radius: 7px;
}
.image{
    padding: 5px;
}
.image img{
    border-radius: 7px;
}

.capsules{
    padding: 0 34px;
}
.capsules span{
    border: 2px solid rgb(118, 118, 118);
    padding: 4px;
}

.content{
    padding: 13px;
}
.content p{
    font-size: 13px;
}