
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

#fs{
    width: 100%;
    height: 100%;
    background-color: rgb(159, 154, 154);
}

#elem{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 0px;
    background-color: yellow;
}
#white{
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    background-color: #dadada;
}